<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.IncomeDao">
 	<select id="queryAllIncome" resultType="Income">
 		select * from income order by income_date desc
 	</select>
	
	<insert id="addIncome" parameterType="Income"> 
		insert into income(eid,operator_id,income_date,income_money,income_detail)values
		(#{eid},#{operator_id},#{income_date},#{income_money},#{income_detail})
	</insert>
	
	<select id="queryIncomeById" parameterType="Integer" resultType="Income">
		select * from income where id=#{id}
	</select>
	
	<delete id="deleteIncome" parameterType="Integer">
		delete from income where id=#{id}
	</delete>
	
	<select id="incomeSearch" parameterType="String" resultType="Income">
		select * from income where ${property} like '%${keyword}%' order by income_date desc
	</select>
 </mapper>
